.footer__column-link {
  /* font-family: "Inter";
  font-style: normal;
  font-weight: 400; */
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  text-decoration: none;
}

@media (max-width: 729px) {
  .footer__column-link {
    font-size: 24px;
    line-height: 1;
  }
}
