.places {
  outline: 1px solid red;
  margin: 0 auto;
  display: grid;
  /* grid-template-columns: 1; */
  gap: 80px 0;
  /* width: calc(100% - 296px); */
  width: 100%;
  box-sizing: border-box;
  padding: 92px 148px;
}
