.lead {
  outline: 1px solid red;
  margin: 0 auto;
  max-width: 984px;
  width: 100%;
  /* padding: 0 148px; */
  /* box-sizing: border-box; */
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1024px) {
  .lead {
    max-width: 928px;
  }
}

@media (max-width: 768px) {
  .lead {
    max-width: 768px;
  }
}

@media (max-width: 425px) {
  .lead {
    max-width: 320px;
  }
}
