.place__link {
  outline: 1px solid yellowgreen;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  transition: 0.5s ease;
}

.place__link:hover {
  opacity: 0.8;
}
